<%= link_to "管理人専用会員一覧へ", admins_index_path, class: "btn btn-default" %>
<% @photos.each do |photo| %>
<table class="table table-striped">
	<tr>
		<td>
			<%= attachment_image_tag photo, :image, size: "300x200" %>
		</td>
		<td>
			<%= attachment_image_tag(photo.customer, :profile_image, :fill, 200,200, fallback: "no_image.jpg", class: "img-circle") %>
		</td>
		<td>
			<h2 style="margin-top: 80px;"><%= photo.customer.name %></h2>
		</td>
		<td>
			<%= link_to "削除する", photo_path(photo), method: :delete, class: "btn btn-danger", style: "margin-top: 80px;" %>
		</td>
	</tr>
<% end %>
</table>