<h2>お気に入り投稿した一覧</h2>
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<% @favophotolist.each do |photo| %>
			<table class="table table-hover">
				<tr>
					<%= link_to photo_path(photo.id) do %>
					<%= attachment_image_tag photo, :image, size: "300x200" %>
					<% end %>
				</tr>
				<tr>
					<%= link_to customer_path(photo.customer.id) do %>
					<%= attachment_image_tag(photo.customer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100", class: "img-circle") %>
					<%= photo.customer.name %>
					<% end %>
				</tr>
				<tr>
					@<%= photo.place %>
					#<%= photo.tag %>
				</tr>
				<tr>
					<% if photo.favorited_by?(current_customer) %>
					<%= link_to photo_favorites_path(photo), method: :delete do %>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="color: red;"></span>
					<%= photo.favorites.count %> いいね
					<% end %>
					<% else %>
					<%= link_to photo_favorites_path(photo), method: :post do %>
					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
					<%= photo.favorites.count %> いいね
					<% end %>
					<% end %>
				</tr>
			</table>
			<% end %>
		</div>
	</div>
</div>