<h1>投稿一覧</h1>
<div class ="container">
	<div class="row">
		<% @photos.each do |photo| %>
		<div class ="col-lg-4">
			<%= link_to photo_path(photo.id) do %>
			<%= attachment_image_tag photo, :image, :fill, 400, 400) %>
		</div>
		<div class ="col-lg-3">
			<%= attachment_image_tag(photo.customer, :profile_image, :fill, 200,200, fallback: "assets/no_image.jpg", class: "img-circle") %>
			<%= photo.customer.name %><br>
			<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
			<%= ("@" + photo.place) %>
			<%= ("#" + photo.tag) %>
			<% end %>
		</div>
		<% @photo.explain %>
		<% if photo.favorited_by?(current_customer) %>
		    <%= link_to photo_favorites_path(@photo), method: :delete do %>
		    <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
		    <%= @pohoto.favorites.count %> いいね
		    <% end %>
		<% else %>
		    <%= link_to post_image_favorites_path(@post_image), method: :post do %>
		    <i class="fa fa-heart-o" aria-hidden="true"></i>
		    <%= @post_image.favorites.count %> いいね
		    <% end %>
		<% end %>
        <%= paginate @photos, class: "paginate" %>
	</div>
</div>