<h1><%= @customer.name %>詳細ページ</h1>
<div class ="container">
	<div class ="row">
		<div class ="col-lg-4">
			<%= attachment_image_tag @customer, :profile_image, :fill, 800, 800,fallback: "no_image.jpg", :fill, 800, 800), class: "img-circle" %>
			<div class ="customer">
				<%= link_to customer_path(@customer) %>
				<%= @customer.name %>
			</div>
			<%= @photo%>
    	</div>
    </div>